@import url(https://fonts.googleapis.com/css?family=Exo+2|PT+Sans+Narrow&subset=latin,cyrillic);

@headerBg: #1d365d;
@textColor: #000022;
@bgColor: #fbf5f3;
@gradientColor1: #43759e;
@gradientColor2: #36556e;

@divHeight: 20vw;

.bodyFont{
	font-family: 'Exo 2', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.buttonFont{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 2.4vw;
	font-weight: 400;
	color: white;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	margin: auto;


	&.large{
		display: block;
		padding: 1 5vw;
		margin: 5vw 0;
	}

	header &{
		margin: 0.5vw 3vw;
		width: 15vw;
	}
}

.gradient (@startColor: @gradientColor1, @endColor: @gradientColor2) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}


.get-vw (@target, @max-size) { 
  @vw-context: (@max-size*.01) * 1px;
  @returnvw: (@target/@vw-context) * 1vw;
}

/* END OF VARIABLES AND MIXINS */

body{
	background-color: @bgColor;
	.bodyFont;
	box-sizing: border-box;
	margin: 0 auto; //?

	overflow-x: hidden;

}

header{
	background: @headerBg;
	height: 4.2vw;

	.logo{
		width: 7vw;
	}

	.LESS-logo{
		width: 1.5vw;
	}
}

img{
	display: block;
    height: auto;
    max-width: 100%;
    //margin: 0.5vw;

    header &{
    	margin: 0.5vw;
    }

    footer &{
    	//display: block;
    	//margin: auto;
    }

    &.cover{
    	margin: 0;
    }

    &.picture{
    	height: 15vw;
    	margin: auto;
    }

}

.container{
	.get-vw(1280px, 1920px);
	width: @returnvw;
	margin: 0 (100-@returnvw)/2;
	height: 100%; //?
	display: inline-block;
	position: relative;

	section & > div{
		height: @divHeight;
		margin-bottom: 5vw;
		//display: block;

		&.borderBottom{
			border-bottom: 1px solid black;
			&:nth-of-type(1) {
				margin-top: 5vw;
			}
		}
	}

	& > p{
		padding: 5px;
	}


	.col-half{
		width: 50%;
	}
	.col-third{
		width: 33.3%;
	}
	.col-two-thirds{
		width: 66.6%;
	}
	.col-quarter{
		width: 25%;
	}

}

.centerBlock{
	margin: auto;
}

.pullRight{
	float: right;
}

.pullLeft{
	float: left;
}


.button{
	.buttonFont;
	.gradient;
}
